USE [master]
GO
/****** Object:  Database [BDLOJA]    Script Date: 02/06/2019 01:55:09 ******/
CREATE DATABASE [BDLOJA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDLOJA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDLOJA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BDLOJA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BDLOJA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDLOJA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDLOJA]
GO
/****** Object:  Table [dbo].[ARTIGO]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARTIGO](
	[ID_PRODUTO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PRODUTO] [varchar](50) NOT NULL,
	[CUSTO_PRODUTO] [float] NOT NULL,
	[PRECO_VENDA] [float] NOT NULL,
 CONSTRAINT [PK_ARTIGO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CLIENTE] [varchar](50) NOT NULL,
	[CPF] [varchar](14) NOT NULL,
	[RUA] [varchar](50) NOT NULL,
	[NUMERO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](50) NOT NULL,
	[CIDADE] [varchar](50) NOT NULL,
	[UF] [varchar](2) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[TELEFONE] [varchar](14) NOT NULL,
	[CELULAR] [varchar](15) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[FACEBOOK] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DETALHES]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALHES](
	[ID_DETALHES] [int] IDENTITY(1,1) NOT NULL,
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUTO] [int] NOT NULL,
	[QUANTIDADE_VENDA] [float] NOT NULL,
 CONSTRAINT [PK_DETALHES] PRIMARY KEY CLUSTERED 
(
	[ID_DETALHES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[DATA_PEDIDO] [varchar](50) NOT NULL,
	[DATA_ENTREGA] [varchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ANIVERSARIANTE] [varchar](50) NOT NULL,
	[DATA_NASC] [varchar](10) NOT NULL,
	[TEMA] [varchar](30) NOT NULL,
	[COR_TEMA] [varchar](30) NOT NULL,
	[SUBTOTAL] [float] NULL,
	[DESCONTO] [float] NULL,
	[TOTAL] [float] NULL,
 CONSTRAINT [PK_PEDIDOS] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_USUARIO] [varchar](50) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[SENHA] [varchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DETALHES]  WITH CHECK ADD  CONSTRAINT [FK_DETALHES_ARTIGO] FOREIGN KEY([ID_PRODUTO])
REFERENCES [dbo].[ARTIGO] ([ID_PRODUTO])
GO
ALTER TABLE [dbo].[DETALHES] CHECK CONSTRAINT [FK_DETALHES_ARTIGO]
GO
ALTER TABLE [dbo].[DETALHES]  WITH CHECK ADD  CONSTRAINT [FK_DETALHES_PEDIDOS] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDOS] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALHES] CHECK CONSTRAINT [FK_DETALHES_PEDIDOS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_CLIENTE]
GO
/****** Object:  StoredProcedure [dbo].[ALTERARCLIENTES]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTERARCLIENTES]

@ID_CLIENTE INT, @NOME_CLIENTE VARCHAR(50), @CPF VARCHAR(50), @RUA VARCHAR(50), @NUMERO VARCHAR(50), @BAIRRO VARCHAR(50), @CIDADE VARCHAR(50), @UF VARCHAR(2), @CEP VARCHAR(9), @TELEFONE VARCHAR(14), @CELULAR VARCHAR(15), @EMAIL VARCHAR(50), @FACEBOOK VARCHAR(100)

AS



UPDATE CLIENTE SET NOME_CLIENTE=@NOME_CLIENTE, CPF=@CPF, RUA=@RUA, NUMERO=@NUMERO, BAIRRO=@BAIRRO, CIDADE=@CIDADE, CEP=@CEP, TELEFONE=@TELEFONE, CELULAR=@CELULAR, EMAIL=@EMAIL, FACEBOOK=@FACEBOOK WHERE ID_CLIENTE=@ID_CLIENTE


GO
/****** Object:  StoredProcedure [dbo].[ALTERARPRODUTOS]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTERARPRODUTOS]

@ID_PRODUTO INT, @NOME_PRODUTO VARCHAR(50), @CUSTO_PRODUTO FLOAT, @PRECO_VENDA FLOAT

AS

UPDATE ARTIGO SET NOME_PRODUTO=@NOME_PRODUTO, CUSTO_PRODUTO=@CUSTO_PRODUTO, PRECO_VENDA=@PRECO_VENDA WHERE ID_PRODUTO=@ID_PRODUTO







GO
/****** Object:  StoredProcedure [dbo].[ATUALIZARCLIENTES]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ATUALIZARCLIENTES]

@ID_CLIENTE INT, @NOME_CLIENTE VARCHAR(50), @CPF VARCHAR(50), @RUA VARCHAR(50), @NUMERO VARCHAR(50), @BAIRRO VARCHAR(50), @CIDADE VARCHAR(50), @UF VARCHAR(2), @CEP VARCHAR(9), @TELEFONE VARCHAR(14), @CELULAR VARCHAR(15), @EMAIL VARCHAR(50), @FACEBOOK VARCHAR(100)

AS

INSERT INTO CLIENTE(NOME_CLIENTE, CPF, RUA, NUMERO, BAIRRO, CIDADE, UF, CEP, TELEFONE, CELULAR, EMAIL, FACEBOOK)
VALUES(@NOME_CLIENTE, @CPF, @RUA, @NUMERO, @BAIRRO, @CIDADE, @UF, @CEP, @TELEFONE, @CELULAR, @EMAIL, @FACEBOOK)




GO
/****** Object:  StoredProcedure [dbo].[ATUALIZARDETALHES]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ATUALIZARDETALHES]

@ID_DETALHES INT, @ID_PEDIDO INT, @ID_PRODUTO INT, @QUANTIDADE_VENDA FLOAT

AS

INSERT INTO DETALHES (ID_PEDIDO, ID_PRODUTO, QUANTIDADE_VENDA) VALUES
(@ID_PEDIDO, @ID_PRODUTO, @QUANTIDADE_VENDA)


GO
/****** Object:  StoredProcedure [dbo].[ATUALIZARPEDIDOS]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ATUALIZARPEDIDOS]

@ID_CLIENTE INT, @DATA_PEDIDO VARCHAR(50), @DATA_ENTREGA VARCHAR(50), @ANIVERSARIANTE VARCHAR(50),
@DATA_NASC VARCHAR(50), @TEMA VARCHAR (50), @COR_TEMA VARCHAR (50), @SUBTOTAL VARCHAR(50), 
@DESCONTO VARCHAR(50), @TOTAL VARCHAR(50)

AS

DECLARE @ID_PEDIDO INT
SELECT @ID_PEDIDO = MAX(ID_PEDIDO) FROM PEDIDOS

IF @ID_PEDIDO IS NULL SET @ID_PEDIDO = 0
SET @ID_PEDIDO = @ID_PEDIDO + 1

INSERT INTO PEDIDOS (ID_PEDIDO, DATA_PEDIDO, DATA_ENTREGA, ID_CLIENTE, ANIVERSARIANTE, 
DATA_NASC, TEMA, COR_TEMA, SUBTOTAL,DESCONTO, TOTAL)
VALUES(@ID_PEDIDO, @DATA_PEDIDO, @DATA_ENTREGA, @ID_CLIENTE, @ANIVERSARIANTE, @DATA_NASC, @TEMA, @COR_TEMA, 
@SUBTOTAL, @DESCONTO, @TOTAL)

SELECT * FROM PEDIDOS WHERE ID_PEDIDO = @ID_PEDIDO

GO
/****** Object:  StoredProcedure [dbo].[ATUALIZARPRODUTOS]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ATUALIZARPRODUTOS]

@ID_PRODUTO INT, @NOME_PRODUTO VARCHAR(50), @CUSTO_PRODUTO FLOAT, @PRECO_VENDA FLOAT

AS

IF NOT EXISTS(SELECT ID_PRODUTO FROM ARTIGO WHERE ID_PRODUTO=@ID_PRODUTO)

INSERT INTO ARTIGO (NOME_PRODUTO, CUSTO_PRODUTO, PRECO_VENDA) VALUES (@NOME_PRODUTO, @CUSTO_PRODUTO, @PRECO_VENDA)





GO
/****** Object:  StoredProcedure [dbo].[DADOSVENDAS]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DADOSVENDAS]

@ID_PEDIDO INT

AS

SELECT

PEDIDOS.ID_PEDIDO, PEDIDOS.DATA_PEDIDO, PEDIDOS.DATA_ENTREGA, CLIENTES.ID_CLIENTE, CLIENTES.NOME_CLIENTE,
CLIENTES.CPF, CLIENTES.CELULAR, PEDIDOS.ANIVERSARIANTE, PEDIDOS.DATA_NASC, PEDIDOS.TEMA, PEDIDOS.COR_TEMA,
DETALHES.ID_PRODUTO, ARTIGOS.NOME_PRODUTO, ARTIGOS.PRECO_VENDA, DETALHES.QUANTIDADE_VENDA,
ARTIGOS.PRECO_VENDA * DETALHES.QUANTIDADE_VENDA AS 'VALOR',PEDIDOS.SUBTOTAL, PEDIDOS.DESCONTO, PEDIDOS.TOTAL


FROM

PEDIDOS PEDIDOS INNER JOIN DETALHES DETALHES ON PEDIDOS.ID_PEDIDO = DETALHES.ID_PEDIDO
INNER JOIN ARTIGO ARTIGOS ON DETALHES.ID_PRODUTO = ARTIGOS.ID_PRODUTO
INNER JOIN CLIENTE CLIENTES ON PEDIDOS.ID_CLIENTE = CLIENTES.ID_CLIENTE


WHERE
PEDIDOS.ID_PEDIDO = @ID_PEDIDO

GO
/****** Object:  StoredProcedure [dbo].[DELETARCLIENTE]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETARCLIENTE]

@ID_CLIENTE INT

AS

DELETE FROM CLIENTE WHERE ID_CLIENTE=@ID_CLIENTE








GO
/****** Object:  StoredProcedure [dbo].[DELETARPRODUTOS]    Script Date: 02/06/2019 01:55:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETARPRODUTOS]

@ID_PRODUTO INT

AS

DELETE FROM ARTIGO WHERE ID_PRODUTO=@ID_PRODUTO








GO
USE [master]
GO
